@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');


:root{
  --main-color:#6db4f7;
  --red:#e74c3c;
  --orange:#f39c12;
  --light-color:#272f36;
  --light-bg:#eee;
  --black:#1e2f3f;
  --white:#fff;
  --border:.1rem solid var(--light-bg);
  --bg-color: #c9d6ff;}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; 
  padding:0;
  box-sizing: border-box;
  outline: none; 
  border:none;
  text-decoration: none;
}


*::selection{
  background-color: var(--main-color);
  color:#fff;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  height: 100vh;
}

body{
  background-color: pink;
  background:linear-gradient(to right,palevioletred,#c9d6ff); 
  overflow-x: hidden;
}

body.dark{
  --light-color:#aaa;
  --light-bg:#333;
  --black:#fff;
  --white:#222;
  --border:.1rem solid var(--white);
  --bg-color: #c9d6ff;
}

section {
  box-shadow: 0 0 10px rgba(61, 45, 45, 0.1);
}


/* ----------------- header ----------------- */
.header{
  position: sticky;
  top:0; 
  left:0; 
  right: 0;
  border-bottom: var(--border);
  background: pink;
  z-index: 99;
}

.header .flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: .3rem;
}

.header .flex .logo img{
  height: 70px;
  width: auto;
  margin-left: 2rem;
}

.header .flex .icons div{
  font-size: 2rem;
  color:var(--black);
  background-color: var(--bg-color);
  border-radius: 3rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  cursor: pointer;
  text-align: center;
  margin-right: 3rem;
}

.header .flex .icons div:hover{
  background-color: var(--black);
  color:var(--white);
}



/* ----------------- header-profile-----------------*/

.header .flex .profile{
  position: absolute;
  top:120%; right: 2rem;
  background-color:var(--white);
  border-radius: .5rem;
  padding: 1.5rem;
  text-align: center;
  overflow: hidden;
  transform-origin: top right;
  transform: scale(0);
  transition: .2s linear;
  width: 23rem;
}

.header .flex .profile h3{
  font-size: 1.8rem;
}

.header .flex .profile.active{
  transform: scale(1);
}

.header .flex .profile .image{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: .5rem;
}

.header .flex .profile .name{
  font-size: 1rem;
  color:var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header .flex .profile .role{
  font-size: 1.8rem;
  color: var(--light-color);
}

.profile h1{
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
  padding: 3rem 0 2rem;
  color: rgb(23, 23, 233);
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.9);
}

.profile .details{
  background-color: var(--black);
  border-radius: .5rem;
  padding: 3rem;
  width: 70rem;
  margin: 0 auto;
}

.profile .details .user{
  text-align: center;
  margin-bottom: 2rem;
}

.profile .details .user img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: .5rem;
}

.profile .details .user h3{
  font-size: 2rem;
  margin: .5rem 0;
  color: var(--white);
}

.profile .details .user p{
  font-size: 1.7rem;
  color: var(--light-color);
}

.profile .details .box-container{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1.5rem;   
}

.profile .details .box-container .box{
  background-color: var(--light-bg);
  border-radius: .5rem;
  padding: 2rem;
  flex: 1 1 30rem;
}

.profile .details .box-container .box .flex{
  display: flex;
  align-items: center;
  gap: 1.7rem;
  margin-bottom: 1rem;
}

.profile .details .box-container .box .flex i{
  height: 4.5rem;
  width: 4.5rem;
  border-radius: .5rem;
  background-color: var(--black);
  line-height: 4.4rem;
  font-size: 2rem;
  color: var(--main-color);
  text-align: center;
}

.profile .details .box-container .box .flex h3{
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: .2rem;
}

.profile .details .box-container .box .flex span{
  font-size: 1.5rem;
  color: var(--light-color);
}

.header .flex .profile .option-btn,
.header .flex .profile .option-btn-profile,
.header .flex .profile .btn-profile, 
.header .flex .profile .btn{
  background: var(--black);
}

.header .flex .profile .option-btn:hover,
.header .flex .profile .option-btn-profile:hover,
.header .flex .profile .btn-profile:hover,
.header .flex .profile .btn:hover{
  background: var(--main-color);
  color: var(--black);
  font-weight: 600;
}


/* ----------------- buttons -----------------*/

.inline-btn,
.inline-option-btn,
.inline-delete-btn,
.btn,
.delete-btn,
.option-btn,
.btn-profile,
.inline-btn-profile,
.delete-btn-profile,
.option-btn-profile{
   border-radius: .5rem;
   color:#fff;
   font-size: 1.8rem;
   cursor: pointer;
   text-transform: capitalize;
   padding: .5rem 1rem;
   text-align: center;
   margin-top: 1rem;
}

.btn-profile,
.delete-btn-profile,
.option-btn-profile{
   display: block;
   width: 100%;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 40%;
   margin: 0 auto;
}

.inline-btn,
.inline-btn-profile,
.inline-option-btn,
.inline-delete-btn{
   display: inline-block;
}

.btn,
.inline-btn,
.inline-btn-profile,
.btn-profile{
   background-color: var(--main-color);
}

.option-btn,
.option-btn-profile,
.inline-btn-profile,
.inline-option-btn{
   background-color:var(--main-color);
}

.delete-btn, 
.inline-delete-btn,
.delete-btn-profile{
   background-color: palevioletred;
}


.inline-option-btn:hover,
.inline-delete-btn:hover,
.inline-btn-profile:hover,
.delete-btn:hover,
.option-btn:hover,
.btn-profile:hover,
.delete-btn-profile:hover,
.option-btn-profile:hover{
   background-color: var(--main-color);
   color: var(--white);
}

.inline-btn,
.btn{
   background-color: rgb(201, 90, 109);
   color: var(--white);
}

.inline-btn:hover,
.btn:hover{
   background-color: var(--main-color);
}

.flex-btn{
   display: flex;
   gap: 1rem;
}

.flex-btn-profile {
  display: flex;
  gap: 1rem;
}

#toggle-btn{
   display: none;
}

/* -----------------navbar -----------------*/

.navbar {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
}

.navbar a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.4s ease;
  position: relative;
}

.navbar a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .25rem;
  background-color: #fff;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.navbar a:hover::after,
.navbar a:focus::after {
  transform: scaleX(1);
}

.navbar a span:hover{
  color:var(--main-color);
}


/* -----------------home ----------------- */
.home-grid .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 50rem);
  gap: 3rem;
  justify-content: center;
  align-items: flex-start;
}

.home-text{
  padding: 15rem 0;
  /*text-align: center;*/
}

.home-text h1 {
  font-size: 4rem;
  margin: 15px 0 15px;
  color: var(--black);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.home-text h4 {
  color: var(--light-color);
  font-size: 2.5rem;
  font-weight: 600;
}

.home-img img{
  width: 500px;
  height: auto;
  max-width: 100%;
  padding: 3rem 0;
  filter: drop-shadow(0 1rem 2rem var(--black));
}


/* -----------------about----------------- */
.about h3 {
  font-size: 4rem;
  color: rgb(23, 23, 233);
  text-transform: capitalize;
  text-align: center;
  padding: 2rem 0 0;
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.9);
  font-weight: 700;

}

.about .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}


.about .row .image{
  flex: 1 1 40rem;
}

.about .row .image img{
  width: 100%;
  height: 100%;
  padding: 6rem;
}

.about .row .content{
  flex: 1 1 40rem;
}

.about .row .content p{
  font-size: 1.7rem;
  line-height: 2;
  color: var(--light-color);
  padding: 0 4rem 0 3rem;
}

.about .row .content h3{
  font-size: 2.8rem;
  color:var(--black);
  text-transform: capitalize;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.about .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3rem;
}

.about .box-container .box{
  border-radius: .5rem;
  background-color: var(--white);
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}

.about .box-container .box i{
  font-size: 4rem;
  color: var(--main-color);
}

.about .box-container .box h3{
  font-size: 2.5rem;
  color: var(--white);
  margin-bottom: .3rem;
}

.about .box-container .box p{
  font-size: 1.7rem;
  color:var(--light-color);
}


/* -----------------view profile----------------- */

.user-profile {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.user-profile .info{
  background-color: var(--black);
  border-radius: 1rem;
  padding: 4rem;
}

.user-profile .info .user{
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
}

.user-profile .info .user img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.user-profile .info .user h3{
  font-size: 2rem;
  color: var(--white);
}

.user-profile .info .user p{
  font-size: 1.7rem;
  color: var(--light-color);
  padding: .3rem 0;
}

.user-profile .info .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.user-profile .info .box-container .box{
  background-color: var(--light-bg);
  border-radius: .5rem;
  padding: 2rem;
  flex: 1 1 8rem;
}

.user-profile .info .box-container .box .flex{
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.user-profile .info .box-container .box .flex i{
  font-size:2rem;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  border-radius: .5rem;
  height: 5rem;
  width: 5rem;
  line-height: 4.9rem;
}

.user-profile .info .box-container .box .flex span{
  font-size: 2.5rem;
  color: var(--main-color);
}

.user-profile .info .box-container .box .flex p{
  color: var(--light-color);
  font-size: 1.7rem;
}



/* ----------------- profile update ----------------- */
.form-container form{
  background-color: var(--black);
  border-radius: .5rem;
  padding: 2rem;
  width: 44rem;
  margin:50px auto;
  box-shadow:0 20px 35px rgba(0,0,1,0.9);
}


.form-container .login{
  width: 40rem;
}

.form-container .register{
  width: 50rem;
}

.form-container form p{
  font-size: 2rem;
  color: var(--white);
  padding-top: .6rem;
}

.form-container form h3{
  font-size: 2.5rem;
  text-transform: capitalize;
  color: var(--white);
  text-align: center;
}

.form-container form .input-group p{
  font-size: 2rem;
  color: var(--white);
  padding-top: .6rem;
}

.form-container form .input-group p span{
  color: var(--red);
}

.form-container form .pic {
  font-size: 2rem;
  color: var(--white);
  padding-top: .6rem;
}

.form-container form p span{
  color: var(--red);
}

.form-container form .box{
  font-size: 1.8rem;
  color: var(--black);
  border-radius: .5rem;
  padding: 1.4rem;
  background-color: rgb(201, 90, 109);
  width: 100%;
  margin: 1rem 0;
}

.form-container form .input-group .box::placeholder{
  color: rgb(39, 36, 36);
}

.form-container form .box::placeholder{
  color: rgb(39, 36, 36);
}

.form-container form .links{
  font-weight:bold;
  color: rgb(102, 101, 101);
  font-size: 1.8rem;
  padding-top: .6rem;
}

.links a{
  color: white;
}

.links a:hover{
  text-decoration: underline;
}




/* -----------------courses----------------- */
.course .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 8rem 10rem;
}

.course .box-container .box{
  border-radius: .5rem;
  background-color: var(--black);
  transition: all .40s ease;
  padding: 1rem;
}

.course .box-container .box:hover{
  color: var(--white);
  transform: translateY(-10px);
}

.course .box-container .box .thumb{
  position: relative;
}

.course .box-container .box .thumb span{
  position: absolute;
  top:1rem; left: 1rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  background-color: rgba(0,0,0,.3);
  color: #fff;
  font-size: 1.5rem;
}

.course .box-container .box .thumb img{
  width: 100%;
  height: 28rem;
  object-fit: cover;
  border-radius: .5rem;
  padding: 0 0 4rem 0;
}

.course .box-container .box .title{
  font-size: 2.6rem;
  color: var(--white);
  padding-bottom: .3rem;
}

.course .more-btn{
  text-align: center;
  margin: 1rem 10rem;
}

.course h1, 
.courses h1{
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem 0 0;
  color: rgb(23, 23, 233);
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.9);
}


/* ----------------- all courses ----------------- */
.courses .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 27rem);
  gap: 3rem;
  align-items: flex-start;
  justify-content: center;
}

.courses .box-container .box{
  border-radius: .5rem;
  background-color: var(--white);
  padding: 2rem;
}

.courses .box-container .box .mentor{
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.courses .box-container .box .mentor img{
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: .5rem;
}

.courses .box-container .box .mentor h3{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: .2rem;
}

.courses .box-container .box .mentor span{
  font-size: 1.5rem;
  color: var(--light-color);
}

.courses .box-container .box .thumb{
  width: 100%;
  border-radius: .5rem;
  height: 20rem;
  object-fit: cover;
  margin-bottom: .3rem;
}

.courses .box-container .box .title{
  font-size: 2rem;
  color: var(--black);
  margin-top: .5rem;
  padding: .5rem 0;
}

.courses .more-btn{
  margin-top: 2rem;
  text-align: center;
}


/* ----------------- video playlist ----------------- */
.playlist .row{
  display: flex;
  align-items: center;
  gap:2.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgb(201, 90, 109);
  width: 70%;
  margin: 0 auto;
}

.playlist h1,
.videos-container h1{
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem 0 0;
  color: rgb(23, 23, 233);
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.9);
}

.playlist h3,
.videos-container h3{
  font-size: 4rem;
  text-transform: capitalize;
  padding: 2rem 0 0;
  color: var(--white);
}

.playlist .row .col{
  flex: 1 1 40rem;
}

.playlist .row .col .save-list button{
  font-size: 2rem;
  border-radius: .5rem;
  background-color: var(--light-bg);
  padding: 1rem 2rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.playlist .row .col .save-list button i{
  color: var(--black);
  margin-right: 1rem;
}

.playlist .row .col .save-list button span{
  color: var(--light-color);
}

.playlist .row .col .save-list button:hover{
  background-color: var(--black);
}

.playlist .row .col .save-list button:hover i{
  color: var(--black);
}

.playlist .row .col .save-list button:hover span{
  color: var(--white);
}

.playlist .row .col .thumb{
  position: relative;
  height: 30rem;
}

.playlist .row .col .thumb span{
  position: absolute;
  top: 1rem; left: 1rem;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  font-size: 2rem;
  color: var(--white);
  background-color: rgba(0,0,0,.3);
}

.playlist .row .col .thumb img{
  width: 100%;
  height: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.playlist .row .col .mentor{
  display: flex;
  align-items: center;
  gap: 1.7rem;
}

.playlist .row .col .mentor img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.playlist .row .col .mentor h3{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: .2rem;
}

.playlist .row .col .mentor span{
  color: var(--main-color);
  font-size: 1.5rem;
}

.playlist .row .col .details{
  padding-top: 1.5rem;
}

.playlist .row .col .details h3{
  font-size: 2.6rem;
  color: var(--black);
}

.playlist .row .col .details p{
  padding: 1rem 0;
  line-height: 2;
  color: var(--light-color);
  font-size: 1.7rem;
}

.playlist .row .col .details .date{
  font-size: 1.7rem; 
  padding-top: .5rem;
}

.playlist .row .col .details .date i{
  color: rgb(6, 27, 185);
  margin-right: 1rem;
}

.playlist .row .col .details .date span{
  color: var(--light-color);
}


/* ----------------- videos  ----------------- */
.watch-video .video-details{
  background-color: transparent;
  padding: 2rem;
  width: 60%;
  margin: 0 auto;
  border-radius: .5rem;
  margin-bottom: 5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.watch-video .video-details .video{
  width: 100%;
  border-radius: .5rem;
  background: #000;
  height: 50rem;
}

.watch-video .video-details .title{
  font-size: 3rem;
  color: var(--black);
  padding: 1.5rem 0;
}

.watch-video .video-details .info{
  display: flex;
  gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: var(--border);
}

.watch-video .video-details .info p{
  font-size:1.6rem;
}

.watch-video .video-details .info p i{
  margin-right: 1rem;
  color: var(--main-color);
}

.watch-video .video-details .info p span{
  color: var(--light-color);
}

.watch-video .video-details .mentor{
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.watch-video .video-details .mentor img{
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  object-fit: cover;
}

.watch-video .video-details .mentor h3{
  font-size: 1.9rem;
  color: var(--black);
  margin-bottom: .2rem;
}

.watch-video .video-details .mentor span{
  color: var(--light-color);
  font-size: 1.7rem;
}

.watch-video .video-details .flex{
  display: flex;
  align-items: center;
  gap: 1.2rem;
  justify-content: space-between;
  padding:  0;
}

.watch-video .video-details .flex a{
  margin-top: 0;
}

.watch-video .video-details .flex button{
  background-color: var(--light-bg);
  cursor: pointer;
  padding: .6rem 1.2rem;
  font-size: 1.7rem;
  border-radius: .5rem;
}

.watch-video .video-details .flex button i{
  color: var(--black);
  margin-right: 1rem;
}

.watch-video .video-details .flex button span{
  color: var(--light-color);
}

.watch-video .video-details .flex button:hover{
  background-color: var(--black);
}

.watch-video .video-details .flex button:hover i{
  color: var(--white);
}

.watch-video .video-details .flex button:hover span{
  color: var(--white);
}

.watch-video .video-details .description{
  padding-top: .5rem;
}

.watch-video .video-details .description p{
  line-height: 1.5;
  font-size: 1.7rem;
  color: var(--light-color);
}

.videos-container .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 33rem);
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.videos-container .box-container .box{
  position: relative;
  border-radius: .5rem;
  padding: 2rem;
  background-color: var(--black);
  margin-bottom: 1rem;
}

.videos-container .box-container .box img{
  height: 20rem;
  width: 100%;
  border-radius: .5rem;
  object-fit: cover;
}

.videos-container .box-container .box i{
  position: absolute;
  top: 2rem; left: 2rem; right: 2rem;
  height: 20rem;
  background-color: rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  color: #fff;
  border-radius: .5rem;
  display: none;
}

.videos-container .box-container .box:hover i{
  display: flex;
}

.videos-container .box-container .box h3{
  font-size: 2rem;
  color: var(--white);
  margin-top: 1rem;
  padding:0;
}

.videos-container .box-container .box:hover h3{
  color: var(--main-color);
}


/* ----------------- comments ----------------- */


.comments h1{
  font-size: 2rem;
  color: var(--black);
  text-align: center;
}

.comments .add-comment{
  background-color: rgb(201, 90, 109);
  border-radius: .5rem;
  padding: 2rem;
  margin-bottom: 3rem;
}


.comments .add-comment .inline-btn{
  background-color: var(--black);
  border-radius: 3rem;
  margin-bottom: 1rem;
  width: 20%;
  text-align: center;
  color: var(--white);
  font-size: 1.8rem;
  cursor: pointer;
  display: block;
}


.comments .add-comment .inline-btn:hover{
  background-color:var(--main-color);
}

.comments .add-comment h3{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: 1rem;
}

.comments .add-comment textarea{
  height: 20rem;
  resize: none;
  background-color: var(--light-bg);
  border-radius: .5rem;
  border: var(--border);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  width: 100%;
  margin: .5rem 0;
}

.comments .show-comments{
  background-color: rgb(201, 90, 109);
  border-radius: .5rem;
  padding: 2rem;
  display: grid;
  gap: 2.5rem;
}

.comments .show-comments .user{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.comments .show-comments .user img{
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  object-fit: cover;
}

.comments .show-comments .user h3{
  font-size: 2rem;
  color: var(--black);
  margin-bottom: .2rem;
}

.comments .show-comments .user span{
  color: var(--light-color);
  font-size: 1.5rem;
}

.comments .show-comments .content{
  margin-bottom: 2rem;
}

.comments .show-comments .content p{
  font-size: 2rem;
  color: var(--black);
  padding: 0 1rem;
  display: inline-block;
}

.comments .show-comments .content span{
  font-size: 1.7rem;
  color: var(--light-color);
}

.comments .show-comments .content a{
  color: var(--main-color);
  font-size: 1.8rem;
}

.comments .show-comments .content a:hover{
  text-decoration: underline;
}

.comments .show-comments .text{
  border-radius: .5rem;
  background-color: var(--light-bg);
  padding: 1rem 1.5rem;
  color: var(--black);
  margin: .5rem 0;
  position: relative;
  z-index: 0;
  white-space: pre-line;
  font-size: 1.8rem;
}

.comments .show-comments .text::before{
  content: '';
  position: absolute;
  top: -1rem; left: 1.5rem;
  height: 1.2rem;
  width: 2rem;
  background-color: var(--light-bg);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); 
}

.edit-comment{
  background-color: transparent;
  border-radius: .5rem;
  padding: 2rem;
  margin-bottom: 3rem;
}

.edit-comment form{
  background-color: rgb(201, 90, 109);
  border-radius: .5rem;
  padding: 2rem;
  width: 40%;
  margin: 0 auto;
}


.edit-comment form textarea{
  height: 20rem;
  resize: none;
  background-color: var(--light-bg);
  border-radius: .5rem;
  border: var(--border);
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  width: 40%;
  margin: .5rem 0;
}

.edit-comment form .box{
  width: 100%;
  border-radius: .5rem;
  padding: 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  background-color: var(--light-bg);
  resize: none;
  height: 20rem;
}

.edit-comment form .flex{
  display: flex;
  gap: 1.5rem;
  justify-content: space-evenly;
  margin-top: .5rem;
}

.edit-comment form .flex .inline-btn{
  width: 20%;
  background-color: var(--black);
}

.edit-comment form .flex .inline-option-btn{
  width: 20%;
}







/* ----------------- mentorship ----------------- */
.mentorship {
  text-align: center;
}

.mentorship .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.mentorship .row .image{
  flex: 1 1 40rem;
}

.mentorship .row .image img{
  max-width: 100%;
  height: auto;
  height: 60rem;
  padding: 0;
  filter: drop-shadow(0 6rem 6rem rgba(0, 0, 0, 0.1));
}

.mentorship .row .content{
  flex: 1 1 55rem;
}

.mentorship .row .content p{
  font-size: 1.8rem;
  line-height: 1.2;
  color: var(--light-color);
  padding: 1.2rem 5rem 1rem 1rem;
  text-align: justify;
}

.mentorship h3{
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem 0 0;
  color: rgb(23, 23, 233);
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.9);
}

.mentorship .row .content h4{
  font-size: 2rem;
  color:var(--black);
  text-transform: capitalize;
  text-align: justify;
}

.mentorship .row .content a{
  margin: 2.5rem 0rem;
}

.mentorship .row .content .inline-btn{
  padding: 1.3rem 1.5rem;
}


/* ----------------- mentor profile ----------------- */

.mentor-profile h1{
  font-size: 4rem;
  text-transform: capitalize;
  text-align: center;
  padding: 2rem 0 0;
  color: rgb(23, 23, 233);
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.9);
}

.mentor-profile .details{
  background-color: var(--black);
  border-radius: .5rem;
  padding: 2rem;
  text-align: center;
  width: 50rem;
  margin: 0 auto;
}

.mentor-profile .details .mentor{
  margin-bottom: 2rem;
}

.mentor-profile .details .mentor img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: .5rem;
}

.mentor-profile .details .mentor h3{
  font-size: 2rem;
  color: var(--white);
  margin: .5rem 0;
}

.mentor-profile .details .mentor span{
  font-size: 2rem;
  color: var(--main-color);
}

.mentor-profile .details .flex{
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.mentor-profile .details .flex p{
  flex: 1 1 25rem;
  border-radius: .5rem;
  background-color: var(--light-bg);
  padding: 1rem 3rem;
  font-size: 2rem;
  color: var(--light-color);
}

.mentor-profile .details .flex p span{
  color: var(--main-color);
}

/* ----------------- already exist message ----------------- */
.message{
  position: sticky;
  top:0;
  background-color: var(--light-bg);
  padding:1rem 2rem;
  display: flex;
  align-items: center;
  gap:0;
  justify-content: space-between;
}

.message.form{
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--light-bg);
  top: 1rem;
  border-radius: .5rem;
}

.message span{
  font-size: 2rem;
  color:var(--black);
}

.message i{
  font-size: 2.5rem;
  color:var(--red);
  cursor: pointer;
  transition: .2s linear;
}

.message i:hover{
  transform: rotate(90deg);
}


/* -----------------contact ----------------- */
.contact {
  padding: 40px 8%;
  background: var(--black);
}

.contact-form h3 {
  font-size: 2.5rem;
  text-align: center;
  padding-bottom: 1rem;
  color: var(--white);
}

.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  align-items: center;
  gap: 2rem;
}

.contact-content img{
  height: auto;
  width: 80px;
  margin-bottom: 30px;
  max-width: 100%;
}

.contact-content .cont-details {
  color: var(--main-color);
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all .40s ease;
}

.contact-content .cont-details:hover { 
  transform: translateX(-10px);
  color: darkgoldenrod;
}

.contact-content a {
  display: block;
  font-size: 17px;
  color: var(--white);
  font-weight: 600;
  transition: all .40s ease;
  padding: 1rem 1rem;
}

.contact-content a:hover { 
  transform: scale(0.9) translateY(-5px);
  color: #06a8f3;
}

.contact-content a i {
  color: #06a8f3;
  border-radius: 10px;
  border: 1px solid #06a8f3;
  background: var(--text-color);
  padding: 4px;
  margin-right: 5px;
  cursor: pointer;
  transition: all .40s ease;
}

.contact-content a i:hover {
  color: #09a8f1;
  border-radius: 10px;
  border: 1px solid #18a2e2;
  background: var(--text-color);
  transform: scale(0.9) translateY(-5px);
}

.footer {
  text-align: center;
  color: var(--black);
  border-top: 1px solid #535169;
  font-size: 14px;
  padding: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

.footer span{
  color: rgb(3, 116, 245);
}

.empty{
   background-color: var(--light-color);
   border-radius: .5rem;
   padding: 1.5rem;
   text-align: center;
   width: 100%;
   font-size: 2rem;
   color: var(--orange);
}

.contact-heading{
  font-size: 4rem;
  color: rgb(23, 23, 233);
  text-align: center;
  padding-bottom: 1rem;
  text-shadow: 3px 4px 6px rgba(0, 0, 0, 0.9);
}


/* --------------------------Events------------------------------ */
.events {
  position: relative;
  width: 100%;
  height: 100vh;
  background-position: center;
}

.events-text {
  text-align: center;
  padding-top: 7rem;
}

.events-text h2 {
  font-size: 3.5rem;
  line-height: 1.1px;
  color: rgb(23, 114, 233);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
}

.events-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10rem;
}

.events-img a{
  max-width: 100%;
  height: auto; 
  border-radius: 10px;
  border: rgb(23, 156, 233) solid 2px;
  color: var(--light-color);
  font-size: 2rem;
  padding: .2rem 1rem;
  width: 40rem;
}

/* ---------------Loader---------------- */
.ball {
  position: relative;
  bottom: 40px;
  left: calc(100% - 20px);
  width: 40px;
  height: 40px;
  background: rgb(23, 156, 233);
  border-radius: 50%;
  animation: ball-move8234 3s ease-in-out 1s infinite alternate;
}

.ball::after {
  position: absolute;
  content: '';
  top: 25px;
  right: 5px;
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 50%;
}

.bar {
  width: 200px;
  height: 12.5px;
  background: #FFDAAF;
  border-radius: 30px;
  transform: rotate(-15deg);
  animation: up-down6123 3s ease-in-out 1s infinite alternate;
}

@keyframes up-down6123 {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(15deg);
  }
}

@keyframes ball-move8234 {
  from {
    left: calc(100% - 40px);
    transform: rotate(360deg);
  }

  to {
    left: calc(0% - 20px);
    transform: rotate(0deg);
  }
}


/* -----------------------contact us------------------------- */
.container {
  position: relative;
  width: auto;
  min-height:100%;
  padding: 7rem 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container h1 {
  font-size: 4rem;
  color: rgb(23, 23, 233);
  text-align: center;
  padding-bottom: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.form {
  width: 100%;
  max-width: 78rem;
  height: auto;
  background-color: var(--white);
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form {
  background-color: rgb(6, 136, 211);
  position: relative;
}

.contact-form:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-color:rgb(6, 136, 211);
  transform: rotate(45deg);
  top: 50px;
  left: -13px;
}

form {
  padding: 2.3rem 2.2rem;
  overflow: hidden;
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  margin-bottom: 0.7rem;
  text-align: center;
}

.input-container {
  position: relative;
  margin: 2rem 0;
  resize: none;
}

input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1rem;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 0.5px;
  border-radius: 25px;
  transition: 0.3s;
}

input::placeholder, textarea::placeholder {
  color: rgb(33, 77, 87);
  opacity: .9;
  font-weight: 500;
  font-size: 1.5rem;
  resize: none;
}

textarea {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 22px;
  font-size: 0.95rem;
  overflow-y: auto;
  color: #fff;
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
}


.contact-btn {
  border-radius: 2rem;
  background:var(--white);
  color: #1b1a1a;
  font-size: 1.8rem;
  cursor: pointer;
  padding: .2rem;
  text-align: center;
  font-weight: 500;
  margin-top: 1rem;
  display: block;
  width: 40%;
  margin: 0 auto;
}

.contact-btn:hover {
  background-color: transparent;
  color: var(--white);
}

.input-container.focus label {
  top: 0;
  transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  position: relative;
}

.contact-info .title {
  color: teal;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.info img {
  width: 80%;
  height: 80%px;
  margin: 1rem;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 28px;
  margin-right: 0.7rem;
}

.social-media {
  padding: 2rem 0 0 0;
}

.social-media p {
  color: var(--black);
}

.social-icons {
  display: flex;
  margin-top: 0.5rem;
}

.social-icons a {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  background: linear-gradient(45deg, #5696e0, teal);
  color: #fff;
  text-align: center;
  line-height: 35px;
  margin-right: 0.5rem;
  transition: 0.4s;
  font-size: 1rem;
}



.social-icons a:hover {
  transform: scale(1.05);
  border: 1px solid rgb(6, 110, 141);
  background: #fff;
  color: rgb(6, 110, 141);
}

.contact-info:before {
  content: "";
  position: absolute;
  width: 110px;
  height: 100px;
  border: 22px solid rgb(70, 126, 128);
  border-radius: 50%;
  bottom: -77px;
  right: 50px;
  opacity: 0.3;
}


/* ------------------------discussion forum------------------------- */
.discussion-forum{
  width: 60%;
  margin: 0 auto;
  padding: 5rem;
}

a{
  text-decoration: none;
  color: black;
}

h1, h4, ol{
  margin: 0;
}

h4{
  margin: 0;
  font-size: 1.4rem;
}

p{
  margin: 0 8px 0 0;
}

textarea{
  width: 60%;
  height: 80px;
  border: var(--border);
  color: var(--black);
  font-size: 1.5rem;
}

textarea::placeholder{
  color: var(--light-color);
  opacity: .9;
  font-weight: 500;
  padding: .5rem;
}

.top-bar {
  background-color: rgb(0, 81, 92);
  /* border: solid 2px teal; */
  padding: 40px 40px;
  border-radius: 5px;
  color: var(--white);
}

.top-bar h1, h3{
  font-size: 3rem;
}

.top-bar h3{
  font-size: 2rem;
}

.main {
  background-color: var(--white);
  padding: 10px 40px;
}

.comment-content {
  font-size: 1.3rem;
}

.comments {
  margin: 40px 0;
  background-color: transparent;
  padding: 4rem 28rem;
}

.comment{
  margin: 20px 0;
}

.title{
  font-size: 1.5rem;
  color: var(--black);
  font-weight: 600;
  text-align: start;
}

.row {
  padding: 5px 0;
}

.bottom, .top-comment {
  display: flex;
  color: var(--light-color);
  font-size: 12px;
}

button{
  display: block;
  padding: .5rem 1rem;
  border: var(--border);
  margin: 1rem 0;
  background-color: rgb(201, 90, 109);
  color: var(--white);
  font-size: 1.8rem;
  border-radius: .5rem;
}

button:hover{
  background-color: var(--main-color);
}

.bottom {
  display: flex;
  color: var(--light-color);
  font-size: 12px;
}

.timestand {
  padding-right: 10px;
}



/* ------------------------responsiveness------------------------- */


/* media queries  */

@media (max-width:1200px){

  body{
     padding-left: 0;
  }


}

@media (max-width:991px){
  
  html{
     font-size: 55%;
  }

}

@media (max-width:768px){

  #search-btn{
     display: inline-block;
  }

  .header .flex .search-form{
     position: absolute;
     top:99%; left: 0; right: 0;
     width: auto;
     border-top: var(--border);     
     border-bottom: var(--border);
     background-color: var(--white);
     clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
     transition: .2s linear;
  }

  .header .flex .search-form.active{
     clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .form-container .flex{
     display: flex;
     gap: 0;
     flex-flow: column;
  }

  .watch-video .video-details .video{
     height: 30rem;
  }
  
  .content {
    width: 90%;
    margin: 0 auto; 
  }
  
  .contact-content {
    display: block;
  }
  
  .about .content {
    padding: 1rem; 
    text-align:center;
  }
  
  .mentorship .row {
    flex-direction: column;
    align-items: center;
    text-align:center;
  }

  .mentorship .row .image {
    margin-bottom: 1rem;
  }
  
  .mentorship .row .image img{
    height:auto;
    max-width:100%;
  }
  
  .home-text{
  text-align: center;
  }
  
  /*.main-contact {*/
  /*  display: grid;*/
  /*  grid-template-columns: 1fr;*/
    
  /*}*/
}

@media (max-width:450px){
  
  html{
     font-size: 50%;
  }

  .heading{
     font-size: 2rem;
  }

  .flex-btn{
     flex-flow: column;
     gap: 0;
  }

  .about .row .image img{
     height: auto;
  }

  .playlist .row .col .thumb{
     height: 20rem;
  }

  .contact .row .image img{
     height: auto;
  }

  .course .box-container{
     grid-template-columns: 1fr;
  }

  .videos-container .box-container{
     grid-template-columns: 1fr;
  }

  .mentors .box-container{
     grid-template-columns: 1fr;
  }

  .watch-video .video-details .video{
     height: auto;
  }

  .home-grid .box-container{
    grid-template-columns: 1fr;
  }
  
  /*.main-contact {*/
  /*  display: grid;*/
  /*  grid-template-columns: repeat(2, 1fr);*/
    /*grid-template-columns: 1fr 1fr;*/
  /*}*/
  
  /* .contact-content {*/
  /*  width: auto; */
  /*  margin-bottom: 0;*/
  /*}*/
  
  .about .content {
    padding: 1rem; 
    text-align:center;
  }
  
  .mentorship .row {
    flex-direction: column;
    align-items: center;
    text-align:center;
  }

  .mentorship .row .image {
    margin-bottom: 1rem;
  }
  
  .mentorship .row .image img{
    height:auto;
    max-width:100%;
  }
  
  .home-text{
    text-align: center;
  }
  
  .navbar {
    display:block;
  }
  
  .navbar a {
    padding: 0 4px;
  }

  .navbar a:not(:last-child) {
    margin-right: 3px;
  }
  
  .mentorship .row .content p{
    padding: 0;
  }
 
 .videos-container .box-container{
    padding:3rem 6rem;
  }
 
}


@media (max-width: 850px) {
  .form {
    grid-template-columns: 1fr;
  }

  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    transform: scale(0.95);
  }

  .contact-form:before {
    top: -13px;
    left: initial;
    right: 70px;
  }

  .social-media {
    padding: 1.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 1.5rem;
  }

  .contact-info:before {
    display: none;
  }

  form,
  .contact-info {
    padding: 1.7rem 1.6rem;
  }

  .text,
  .information,
  .social-media p {
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.15rem;
  }

  .social-icons a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }

  .icon {
    width: 23px;
  }

  .input {
    padding: 0.45rem 1.2rem;
  }

  .btn {
    padding: 0.45rem 1.2rem;
  }
  
  
  .comments .add-comment,
  .comments .show-comments{
    width:100%;
  }
  
  .comments .add-comment .inline-btn{
    width: 40%;
  }
  
  .watch-video .video-details{
    width: 90%;
  }
  
  .watch-video .video-details .video{
    height: 30rem;
  }
  
  .playlist .row{
    width: 88%;
  }
  
  .videos-container h3{
    font-size: 3rem;
    padding: 1rem;
  }
  
  .profile .details{
    padding: 6rem;
    width: 45rem;
  }
  
  .form-container .register{
    width: 90%;
  }
  
  .main-contact {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: 1fr 1fr;
  }
  
  /* .contact-content {*/
  /*  margin-bottom: 0;*/
  /*}*/
}

